<h1>
Employee Details
</h1><%= form_for @employee do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@employee.errors.count, "error")} prohibited this requirement from being saved:" %>
      </h2>
      <ul>
        <% @employee.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :First_Name %>
    <%= f.text_field :emp_firstname %>
  </div>
  <div class="field">
    <%= f.label :Last_Name %>
    <%= f.text_field :emp_lastname %>
  </div>
  <div class="field">
    <%= f.label :Employee_Id %>
    <%= f.text_field :emp_id %>
  </div>

  <div class="field">
    <%= f.label :Designation %>
    <%= f.text_field :emp_designation %>
  </div>
  <div class="field">
    <%= f.label :Email_Id %>
    <%= f.text_field :emp_mail %>
  </div>

  <div class="field">
    <%= f.label :Phone_No %>
    <%= f.text_field :emp_phone %>
  </div>

  <div class="field">
    <label>Skill</label>
    <select name="employee[skill_id]" id="employee_skill_id" required>
        <option value="1">Java</option>
        <option value="2">Front End</option>
        <option value="3">Dot Net</option>
        <option value="4">Ruby On Rails</option>

    </select>
  </div>


  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
