<h1>List of requirements</h1>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Position</th>
      <th>Skills</th>
      <th>Experience</th>

      <th>Qualification</th>
      <th>Add Candidate</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <% @requirements.each do |requirement| %>
      <tr>
        <td>
          <%= requirement.position %>
        </td>
        <td>
          <%= get_skills(requirement).pluck(:name).join(", ") %>
        </td>
        <td>
          <%= requirement.experience %>
        </td>

        <td>
          <%= requirement.qualification %>
        </td>
        <td>
          <%= link_to 'new', new_requirement_candidate_path(requirement) %>
        </td>
        <td>
          <%= link_to 'Show', requirement %>
        </td>
        <td>
          <%= link_to 'Edit', edit_requirement_path(requirement) %>
        </td>
        <td>
          <%= link_to 'Delete', requirement, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

        <td>
          <%= link_to 'details', requirement_candidates_path(requirement) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
