<center><h1>Requirements</h1><center>
<table class="table table-bordered table-hover " >
  <thead class="table-header">
    <tr>
      <th>Position</th>
      <th>Status</th>

      <th>Experience</th>

      <th>Qualification</th>
      <th>Project Name</th>
      <th>Add Candidate</th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <% @requirements.each do |requirement| %>

      <tr>
        <td>
          <%= requirement.position %>
        </td>

        <td>
          <%= requirement.experience %>
        </td>

        <td>
          <%= requirement.qualification %>
        </td>
        <td>
          <%= requirement.project.project_name %>
        </td>
        <td>
          <%= link_to 'New', new_requirement_candidate_path(requirement) %>
        </td>
        <td>
          <%= link_to 'Show', requirement , class: 'fa fa-eye'%>
        </td>
        <td>
          <%= link_to 'Edit', edit_requirement_path(requirement), class: 'ace-icon fa fa-pencil-square-o bigger-120' %>
        </td>
        <td>
          <%= link_to 'Delete', requirement, method: :delete, data: { confirm: 'Are you sure?' }, class:  'ace-icon fa fa-trash-o bigger-120 orange' %>
        </td>

        <td>
          <%= link_to 'details', requirement_candidates_path(requirement), class:'btn btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
