<center><h1>Requirements</h1><center>
<div style="float:left;">
  <form action="" id="search_bloack" accept-charset="UTF-8" method="get">
    <input name="utf8" type="hidden" value="✓">
      <p>
        <input type="text" placeholder="Search By Status" name="search" id="search">
        <input type="submit" id= "submit" value="Search" data-disable-with="Search">
      </p>
  </form>
</div>

  <table class="table table-bordered table-hover " >
    <thead class="table-header">
      <tr>
        <th>Sr No</th>
        <th class="detail-col">Details</th>
        <th>Position</th>
        <th>Status</th>

        <th>Experience</th>

        <th>Qualification</th>
        <th>Project Name</th>
        <th>No of Candidates</th>
        <th>Created at</th>
        <th>Add Candidate</th>
        <th></th>
        <th></th>

        <th></th>



      </tr>
    </thead>
    <tbody>
      <% @requirements.each_with_index do |requirement, i| %>

      <tr>
        <td>
          <%=i + 1 %>
        </td>

        <td class="center">
          <div class="action-buttons">
            <a href="/requirements/candidates/get_candidate_list?id=<%=requirement.id%>" class="green bigger-140 show-details-btn" title="Show Details" data-remote=true >
              <i class="ace-icon fa fa-angle-double-down"></i>
              <span class="sr-only">Details</span>
            </a>
          </div>
        </td>

        <td>
          <%= requirement.position %>
        </td>

        <td>
          <%on = requirement.status %>
          <%if on == 'open'%>
            <span class="label label-success arrowed">Open</span>
            <%elsif on == 'closed'%>
              <span class="label label-danger arrowed-in">Closed</span>
            <%end%>
        </td>

        <td>
          <%= requirement.experience %>
        </td>

        <td>
          <%= requirement.qualification %>
        </td>
        <td>
          <%= requirement.project.project_name %>
        </td>
        <td>
          <%= requirement.candidates.count %>
        </td>
        <td>
          <%= requirement.created_at.strftime("%d/%m/%Y at %H:%M:%S") %>
        </td>
        <td>
          <%= link_to 'New', new_requirement_candidate_path(requirement) %>
        </td>
        <td>
          <%= link_to 'Show', requirement , class: 'fa fa-eye'%>
        </td>
        <td>
          <%= link_to 'Edit', edit_requirement_path(requirement), class: 'ace-icon fa fa-pencil-square-o bigger-120' %>
        </td>


        <td>
          <%= link_to 'Details', requirement_candidates_path(requirement), class:'btn btn-info' %>
        </td>
      </tr>


      <tr class="detail-row">
        <td colspan="12" id= "Req-<%=requirement.id%>">

        </td>
    </tr>

    <% end %>
  </tbody>
</table>
<br/>


<center style = "float: right;">

<%= paginate @requirements %>

<center>

<script>
$('.show-details-btn').on('click', function(e) {
  e.preventDefault();
  $(this).closest('tr').next().toggleClass('open');
  $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
});
</script>
<script>
$(document).ready(function(){
  $("#submit").click(function(){

    $.ajax({
        type: 'GET',
        url: "<%requirements_path%>",
        data: $('#search_bloack').serialize(),
        success: function(response) {
           alert("Submitted comment");
        },

    });
 });
});​
</script>
