<p>
  <b>Opportunity ID:</b>
  <%= @requirement.opportunityID %>
</p>
<p>
  <b>Position:</b>
  <%= @requirement.position %>
</p>
<p>
  <b>Skills:</b>
  <%=@requirement.skills%>
</p>
<p>
  <b>Experience:</b>
  <%= @requirement.experience %>
</p>

<p>
  <b>Qualification:</b>
  <%= @requirement.qualification %>
</p>
<p>
  <b>Job Description:</b>
  <%= @requirement.job_description %>
</p>

<p>
  <b>Job Summary:</b>
  <%= @requirement.job_summary %>
</p>
<%= link_to 'Edit', edit_requirement_path(@requirement) %>
|
<%= link_to 'Back', requirements_path %>
