<table id="dynamic-table" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Candidate Name</th>

      <th>Contact</th>
      <th>Email</th>
      <th>Resume</th>
      <th>Interviewer Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%  candidates.each do |candidate| %>
    <tr>
      <td>
        <%= candidate.candidate_full_name %>
      </td>

      <td>
        <%= candidate.contact %>
      </td>
      <td>
        <%= candidate.email %>
      </td>

      <td>
        <%= link_to "Download Resume", candidate.resume_url %>
      </td>

      <td>

        <%interviewer_feedback = candidate.schedulers.last.feedbacks.last.status rescue nil%>
          <%if interviewer_feedback.present?%>
            <%if interviewer_feedback == 'Rejected'%>
              <span class="label label-danger arrowed-in">Rejected</span>
            <%elsif interviewer_feedback == 'Shortlisted'%>
              <span class="label label-success arrowed">Shortlisted</span>
            <%elsif interviewer_feedback == 'Hold'%>
              <span class="label label-warning">Hold</span>
            <% end%>
        <%else%>
          <span class="label label-primary arrowed arrowed-right">No Feedback Yet</span>
        <%end%>
      </td>


      <%if candidate.requirement.status == "closed" %>
      <td>
        <%= link_to "Schedule_Interview", "#"%>
      </td>
      <%else%>
      <td>
        <%= link_to "Schedule_Interview", new_requirement_candidate_scheduler_path(requirement, candidate) %>
      </td>
      <%end%>


    </tr>
    <% end %>
  </tbody>
</table>
