<p id="notice">
  <%= notice %>
</p>
<p>

  <b>Project Id Code</b>
  <%= @project.pro_idcode %>
</p>
<p>
  <b>Description</b>
  <%= @project.pro_description%>
</p>

<%= link_to 'Add Requirement', new_requirement_path(project_id: @project.id)%>


<%= link_to 'Back', dutables_path %>
