<p id="notice">
  <%= notice %>
</p>
<p>

  <b>Project Name:</b>
  <%= @project.project_name %>
</p>
<p>
  <b>Description</b>
  <%= @project.pro_description%>
</p>


<table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Requirements</th>
          <th>Year of Experiance</th>
          <th>Qualification</th>



        </tr>
      </thead>
      <tbody>
      <%for requirement in @project.requirements%>
          <tr>
            <td>
              <%= requirement.position%>
            </td>
            <td>
              <%= requirement.experience%>
            </td>
            <td>
              <%= requirement.qualification%>
            </td>




        <% end %>
      </tbody>
    </table>




<%= link_to 'Add Requirement', new_requirement_path(project_id: @project.id), class: 'btn btn-primary'%>


<%= link_to 'Back', dutables_path %>
