<style>
.widget-box {
  padding: 30px;
  padding-left: 60px;
  padding-right: 0px;
  box-shadow: none;
  margin: 3px 0;

  border-radius: 5px;
  border-color: 1px solid #ddd;
  background-color: #f2f2f2;
  width: 751px;
}
.right{
  float: right;

}
.actions{padding-right: 215px;
  padding-bottom: 10px;}
</style>



<div class ="col-md-6 col-md-offset-3 form-horizontal">
  <div class = "widget-box">
    <%= form_for [@scheduler, @feedback], html: {class: "form-horizontal"} do |f| %>
    <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@feedback.errors.count, "error")} prohibited this requirement from being saved:" %>
      </h2>
      <ul>
        <% @feedback.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="form-field-1">Stage Name</label>
      <div class="col-sm-9">
        <select name="feedback[stage_name]" id="feedback_stage_name" class="col-xs-10 col-sm-7"required>
          <option value="1">Round1</option>
          <option value="2">Round2</option>
          <option value="3">Round3</option>
        </select>
      </div>
    </div>




    <div class="form-group">
      <label class="col-sm-3 control-label" for="form-field-1">Type of Round</label>
      <div class="col-sm-9">
        <select name="feedback[round_type]" id="feedback_stage_name" class="col-xs-10 col-sm-7"required>
          <option value="Telephonic">Telephonic</option>
          <option value="Skype">Skype</option>
          <option value="Face To Face">Face To Face</option>
        </select>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" for="form-field-1">Status</label>
      <div class="col-sm-9">
        <select name="feedback[status]" id="feedback_status" class="col-xs-10 col-sm-7" required>
          <option value="Shortlisted">Shortlisted</option>
          <option value="Rejected">Rejected</option>
          <option value="Hold">Hold</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="form-field-1">Duration of Interview</label>
      <div class="col-sm-9">
        <input class="col-xs-10 col-sm-7" type="text" name="feedback[duration_of_interview]" id="feedback_duration_of_interview" class="col-xs col-sm-5" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="form-field-1">Communication</label>
      <div class="col-sm-9">
        <input class="col-xs-10 col-sm-7" type="text" name="feedback[communication]" id="feedback_communication" class="col-xs col-sm-5" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="form-field-1">Attitude</label>
      <div class="col-sm-9">
        <input class="col-xs-10 col-sm-7" type="text" name="feedback[attitude]" id="feedback_attitude" class="col-xs col-sm-5" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="form-field-1">Comments</label>
      <div class="col-sm-9">
        <textarea name="feedback[comments]" id="feedback_comments" class="col-xs col-sm-7" required></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="form-field-1">Learning Capabilities</label>
      <div class="col-sm-9">
        <textarea name="feedback[learning_capabilties]" id="feedback_learning_capabilties" class="col-xs col-sm-7" required></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="form-field-1">Technical Analysis</label>
      <div class="col-sm-9">
        <textarea name="feedback[Tech_analysis]" id="feedback_Tech_analysis" class="col-xs col-sm-7" required></textarea>
      </div>
    </div>

    <div class="actions">
      <%= f.hidden_field :candidate_id, :value => @scheduler.candidate_id%>
      <%= f.submit 'Save' , class: "btn btn-primary right" %>
    </div>


    <% end %>
    <center>

      <%= link_to 'Back',schedulers_path, class: "col-sm-3 control-label"  %>

    </div>
  </div>
