<%=form_for @dutable do |f| %>
<% if !@dutable.persisted? %>
  <p>
      <%=f.label :DU_Name%>
      <input type="text" name="dutable[du_name]" id="dutable_du_name" required>
  </p>
  <p>
      <%=f.label :DU_Code%>
      <input type="text" name="dutable[du_id_code]" id="dutable_du_id_code" required>
  </p>
  <p>
      <%=f.label :Description%>
      <textarea name="dutable[du_description]" id="dutable_du_description" required></textarea>
  </p>
<%end%>
<table class = 'table'>
  <thead>
    <tr>
      <th> Project Name </th>
      <th>Project Code</th>
      <th> Description </th>
        <th></th>
    </tr>
  </thead>

  <tbody class ='tasks'>
    <%=f.fields_for :projects do |b|%>
     <%= render 'project_fields', :f =>b %>
    <%end%>

  </tbody>

</table>
<center>
<%= link_to_add_association 'Add project', f , :projects , class: "btn btn-success",
 data: {association_insertion_node: '.tasks', association_insertion_method: :append}%>
<center>
<div class ='form-actions'>

  <%= f.submit "Save", class: "btn btn-primary" %>

</div>
<%end%>
