<p>

<%= f.label :project_name, "Project name" %>
<%= f.text_field :project_name %>
<%= f.label :pro_idcode, "Project Id" %>
<%= f.text_field :pro_idcode %>
<%= f.label :pro_description, "Project Description" %>
<%= f.text_area :pro_description %>
</p>
