<p>

<%= f.label :position %>
<%= f.text_field :position %>
<%= f.label :skills%>
<%= f.text_field :skills %>
<%= f.label :experience%>
<%= f.text_field :experience %>
<%= f.label :salary%>
<%= f.text_field :salary %>
<%= f.label :qualification%>
<%= f.text_field :qualification %>

<%= f.label :description %>
<%= f.text_area :description %>
</p>
