<%=form_for @dutable do |f| %>

  <p>
      <%=f.label :DU_Name%>
      <%=f.text_field :du_name%>
  </p>
  <p>
      <%=f.label :DU_Code%>
      <%=f.text_field :du_id_code%>
  </p>
  <p>
      <%=f.label :Description%>
      <%=f.text_area :du_description%>
  </p>


          <%=f.fields_for :projects do |b|%>
           <%= render 'projects', :f =>b %>
          <%end%>

  <%= f.submit "Save", class: "btn btn-primary" %>
<%end%>
