<div class="sidebar responsive ace-save-state" id="sidebar">
  <ul class="nav nav-list">


        <li class="">
          <a href="#" class="dropdown-toggle">
            <i class="ace-icon glyphicon glyphicon-asterisk"></i>
              Requirements

            <b class="arrow fa fa-angle-down"></b>
          </a>

          <b class="arrow"></b>

            <ul class="submenu">

            <li class="">
              <a href="<%=requirements_path %>">
                <i class="ace-icon glyphicon glyphicon-list"></i>
                  Requirement List
              </a>

              <b class="arrow"></b>
            </li>



          </ul>
        </li>
        <li class="">
          <a href="#" class="dropdown-toggle">
            <i class="ace-icon fa fa-users"></i>
            Employees

            <b class="arrow fa fa-angle-down"></b>
          </a>

          <b class="arrow"></b>

          <ul class="submenu">
            <li class="">
              <a href="<%=employees_path %>">
                <i class="ace-icon glyphicon glyphicon-list"></i>
                  Employee List
              </a>

              <b class="arrow"></b>
            </li>

            <li class="">
              <a href="<%=new_employee_path%>">
                <i class="ace-icon glyphicon glyphicon-plus"></i>
                Add Employee
              </a>

              <b class="arrow"></b>
            </li>

          </ul>
        </li>
        <li class="">
          <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-caret-right"></i>
              Delivery Unit Cells

            <b class="arrow fa fa-angle-down"></b>
          </a>

          <b class="arrow"></b>

            <ul class="submenu">
            <li class="">
              <a href="<%=dutables_path %>">
                <i class="ace-icon glyphicon glyphicon-list"></i>
                List of Units
              </a>

              <b class="arrow"></b>
            </li>

            <li class="">
              <a href="<%=new_dutable_path %>">
                <i class="ace-icon glyphicon glyphicon-plus"></i>
                  Add Units
              </a>

              <b class="arrow"></b>
            </li>

          </ul>
        </li>

        <li class="">
          <a href="#" class="dropdown-toggle">
            <!-- <i class="ace-icon fa fa-users"></i> -->
          Feedback

            <b class="arrow fa fa-angle-down"></b>
          </a>

          <b class="arrow"></b>

          <ul class="submenu">
            <li class="">
              <a href="<%=new_feedback_path%>">
                <i class="ace-icon glyphicon glyphicon-plus"></i>
              Feedback Form
              </a>

              <b class="arrow"></b>
            </li>

          </ul>
        </li>

  </ul>
  <!-- /.nav-list
  -->
  <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right" id="sidebar-toggle-icon"></i>
  </div>
</div>
