<div class="sidebar responsive ace-save-state" id="sidebar">
  <ul class="nav nav-list">
  
    <%if current_user.any?%>

    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="ace-icon fa fa-pencil-square-o"></i>
        <!-- <i class="ace-icon fa fa-users"></i> -->
        Feedback

        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu">

        <li class="">
          <a href="<%=schedulers_path%>">
            <i class="ace-icon glyphicon glyphicon-list"></i>
            Listing Interviews
          </a>

          <b class="arrow"></b>
        </li>

      </ul>
    </li>
<%elsif current_user.manager?%>


    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="ace-icon fa fa-pencil-square-o"></i>
        <!-- <i class="ace-icon fa fa-users"></i> -->
        Feedback

        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu">

        <li class="">
          <a href="<%=schedulers_path%>">
            <i class="ace-icon glyphicon glyphicon-list"></i>
            Listing Interviews
          </a>

          <b class="arrow"></b>
        </li>

      </ul>
    </li>

    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="ace-icon fa fa-pencil-square-o"></i>
        <!-- <i class="ace-icon fa fa-users"></i> -->
        Projects

        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu">

        <li class="">
          <a href="#">
            <i class="ace-icon glyphicon glyphicon-list"></i>
            Listing Project
          </a>

          <b class="arrow"></b>
        </li>

      </ul>
    </li>

<%elsif current_user.hr?%>

    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="ace-icon glyphicon glyphicon-asterisk"></i>
        Requirements

        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu">

        <li class="">
          <a href="<%=requirements_path %>">
            <i class="ace-icon glyphicon glyphicon-list"></i>
            Requirement List
          </a>

          <b class="arrow"></b>
        </li>



      </ul>
    </li>

    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-caret-right"></i>
        Delivery Unit Cells

        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu">
        <li class="">
          <a href="<%=dutables_path %>">
            <i class="ace-icon glyphicon glyphicon-list"></i>
            List of Units
          </a>

          <b class="arrow"></b>
        </li>

        <li class="">
          <a href="<%=new_dutable_path %>">
            <i class="ace-icon glyphicon glyphicon-plus"></i>
            Add Units
          </a>

          <b class="arrow"></b>
        </li>

      </ul>
    </li>

    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="ace-icon fa fa-pencil-square-o"></i>
        <!-- <i class="ace-icon fa fa-users"></i> -->
        Candidate

        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu">

        <li class="">
          <a href="<%=candidates_allcandidate_path%>">
            <i class="ace-icon glyphicon glyphicon-list"></i>
            Listing Candidate
          </a>

          <b class="arrow"></b>
        </li>

      </ul>
    </li>


    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="ace-icon fa fa-pencil-square-o"></i>
        <!-- <i class="ace-icon fa fa-users"></i> -->
        Feedback

        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu">

        <li class="">
          <a href="<%=schedulers_path%>">
            <i class="ace-icon glyphicon glyphicon-list"></i>
            Listing Interviews
          </a>

          <b class="arrow"></b>
        </li>

      </ul>
    </li>

    <%end%>




  </ul>
  <!-- /.nav-list
-->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
  <i class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right" id="sidebar-toggle-icon"></i>
</div>
</div>
